# Ignore virtual environment
fruit_env/

# Ignore model files
dataset/
images/
# Ignore compiled binaries
*.pyd
*.dll
*.so
*.exe   
*.pdb
*.obj
*.bin

# Ignore logs and caches
__pycache__/
*.log
*.tmp
